body {
    background-image: url('https://static.vecteezy.com/ti/vetor-gratis/p2/6713080-resumo-saude-medico-ciencia-saude-icone-tecnologia-digital-ciencia-conceito-moderno-inovacao-tratamento-medicina-em-hi-tech-futuro-fundo-azul-para-papel-de-parede-modelo-web-design-vetor.jpg');
}
.container {
    display:flex;
    flex-direction: column; 
    align-items: center;
    background-color: #1a074e63;
    padding: 20px;
    margin: 0 auto;
    width: 300px;
    border-radius: 9px;
    height: fit-content;
}
.content {
    margin-top: 20px;
    width:fit-content;
    align-items: center;

}
select {
    background: #dffafffb;
    color: rgb(12, 9, 27);
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #95f3ff;
    margin-bottom: 20px;
    text-align: left;
    align-self:center;
}
.header{
    padding: 5px;
    padding-bottom: 20px;
    height: 60px;
    background-color: #95f3ffda;
    align-items: center;
    border-radius: 12px;
    text-align: center;
    margin-bottom: 20px;
    font-family:'Arial', Courier, monospace;
    width:100%;
    color: #02061bbd;
    display:flex;
    align-items:center;
    padding-top:15px;
}
.space {
    height: 300px;
}
#boton{
    align-items:center;
}
#informar {
    background-color: #95f3ffde;
    color: #02061bbd;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-self: center;
    
}